.center{
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  
}

.login {
  background-color: white;
}
.background-signup {
  background-image: url("/homeBg.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(16, 16, 17);
}

.font-color:focus{
  color:white;
}