.center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.background-home {
  background-image: url("/homeBg.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.font-color:focus {
  color: #fff; 
}

.font-color-pw:focus {
  color: #fff; 
}
  input[type=text], select{
     color: white;
  }

  input[type=password], select {
    color: white;
 }

