.background-home-login {
  background-image: url("/twitterBg.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(16, 16, 17);
}

.sticky{
  position: -webkit-sticky;
position: sticky;
top:0;
/* border-color: tomato; 
  border-style: dashed; */
  width: 90rem;
  height: 1.5%;
}

.col-md-8,
.col-md-4 {
padding: 1rem;
background-color:transparent;
/* border: 2px solid #fff; */
color: #fff;
text-align: left;
}

.special-card{
  border-style: groove;
  border-color: rgb(245, 199, 209);
}