.background-home-login {
  background-image: url("/dwitterBg.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(16, 16, 17);
}